html, body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#slider-background {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    height: 240px;
    width: 110px;

    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
}
#slider {
    position: absolute;
    top: 30px;
    right: 90px;
    z-index: 10000;
    height: 200px;
}
#search {
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 10000;

    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;

    padding: 8px;
}

#search input {
    width: 300px;
}

a.url:hover,
a.zoom:hover {
    color: #777 !important;
}

.noUi-pips {
    color: #333;
}