html, body, {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a.url:hover,
a.zoom:hover {
    color: #777 !important;
}
